@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h1>Todo (@_todos.Count(todo => !todo.IsDone))</h1>

<input placeholder="Something todo" @bind="_newTodo" />
<button @onclick="AddTodo">Add todo</button>

<ul>
    @foreach (var todo in _todos)
    {
        <input type="checkbox" @bind="todo.IsDone" />
        <li>@todo.Title</li>
        <ul>
            <li>Description: @todo.Description</li>
            <li>UTC Date Added: @todo.DateAdded</li>
        </ul>
        
    }
</ul>